# 직접 해보세요! 
## 갭마인더 데이터 집합 불러오기(28쪽)

In [ ]:
import pandas

In [1]:
p

NameError: name 'pandas' is not defined

In [2]:
import pandas as pd
df = pd.read_csv('data/gapminder.tsv', sep='\t')

# 직접 해보세요!
## 불러온 데이터 집합 살펴보기(29쪽)

In [3]:
print(df.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [ ]:
print(type(df))

In [5]:
print(df.shape)
print(df.shape[0])
# print(df.shape[1])

(1704, 6)
1704

In [6]:
print(df.columns)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [7]:
print(df.dtypes)

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

# 직접 해보세요!
## 열 단위로 데이터 추출하기(32쪽)

In [9]:
country_df = df['country']

print(type(country_df))

<class 'pandas.core.series.Series'>

In [10]:
print(country_df.head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [11]:
print(country_df.tail())

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [12]:
subset = df[['country', 'continent', 'year']]

print(type(subset))

<class 'pandas.core.frame.DataFrame'>

In [13]:
print(subset.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [14]:
print(subset.tail())

       country continent  year
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007

# 직접 해보세요!
## loc 속성으로 행 단위 데이터 추출하기(35쪽)

In [15]:
print(df.loc[0])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [16]:
print(df.loc[99])

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap    721.186086
Name: 99, dtype: object

In [17]:
print(df.loc[-1])

KeyError: -1

In [18]:
number_of_rows = df.shape[0]
last_row_index = number_of_rows - 1

print(df.loc[last_row_index])

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [19]:
print(df.tail(n=1))

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [ ]:
print(df.tail(n=2))

In [20]:
print(df.loc[[0, 99, 999]])

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

# 알아두면 좋아요!
## tail 메서드와 loc 속성이 반환하는 자료형은 서로 달라요!(37쪽)

In [21]:
subset_loc = df.loc[0] 
subset_tail = df.tail(n=1)

print(type(subset_loc))
print(type(subset_tail))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

# 직접 해보세요!
## iloc 속성으로 행 데이터 추출하기(37쪽)

In [ ]:
print(df.iloc[1])

In [ ]:
print(df.iloc[99])

In [22]:
print(df.iloc[-1])

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [2]:
print(df.iloc[1710])

NameError: name 'df' is not defined

In [ ]:
print(df.iloc[[0, 99, 999]])

# 직접 해보세요!
## 데이터 추출하기 ─ 슬라이싱 구문, range 메서드(39쪽)
### 1. 슬라이싱 구문으로 데이터 추출하기

In [23]:
subset = df.loc[:, ['year', 'pop']] 
print(subset.head())

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

In [24]:
subset = df.iloc[:, [2, 4, -1]] 
print(subset.head())

   year       pop   gdpPercap
0  1952   8425333  779.445314
1  1957   9240934  820.853030
2  1962  10267083  853.100710
3  1967  11537966  836.197138
4  1972  13079460  739.981106

### 2. range 메서드로 원하는 데이터 추출하기

In [25]:
small_range = list(range(5)) 
print(small_range)

[0, 1, 2, 3, 4]

In [26]:
print(type(small_range))

<class 'list'>

In [27]:
subset = df.iloc[:, small_range] 
print(subset.head())

       country continent  year  lifeExp       pop
0  Afghanistan      Asia  1952   28.801   8425333
1  Afghanistan      Asia  1957   30.332   9240934
2  Afghanistan      Asia  1962   31.997  10267083
3  Afghanistan      Asia  1967   34.020  11537966
4  Afghanistan      Asia  1972   36.088  13079460

In [ ]:
small_range = list(range(3, 6)) 
print(small_range)

In [ ]:
subset = df.iloc[:, small_range] 
print(subset.head())

In [28]:
small_range = list(range(0, 6, 2)) 
subset = df.iloc[:, small_range] 
print(subset.head())

       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460

### 4. 슬라이싱, range 메서드 비교하기

In [29]:
subset = df.iloc[:, :3] 
print(subset.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [30]:
subset = df.iloc[:, 0:6:2] 
print(subset.head())

       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460

### 5. loc, iloc 속성 자유자재로 사용하기

In [ ]:
print(df.iloc[[0, 99, 999], [0, 3, 5]])

In [ ]:
print(df.loc[[0, 99, 999], ['country', 'lifeExp', 'gdpPercap']])

In [ ]:
print(df.loc[10:13, ['country', 'lifeExp', 'gdpPercap']])

# 직접 해보세요!
## 그룹화한 데이터의 평균 구하기(44쪽)
### 1. lifeExp 열을 연도별로 그룹화하여 평균 계산하기

In [ ]:
# print(df.head(n=10))

In [31]:
print(df.groupby('year')['lifeExp'].mean())

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [32]:
grouped_year_df = df.groupby('year')
print(type(grouped_year_df))

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [33]:
print(grouped_year_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001F31C7CE140>

In [ ]:
grouped_year_df_lifeExp = grouped_year_df['lifeExp'] 
print(type(grouped_year_df_lifeExp))

In [ ]:
mean_lifeExp_by_year = grouped_year_df_lifeExp.mean() 
print(mean_lifeExp_by_year)

### 6. lifeExp, gdpPercap 열의 평균값을 연도, 지역별로 그룹화하여 한 번에 계산하기

In [ ]:
multi_group_var = df.groupby(['year', 'continent'])[['lifeExp', 'gdpPercap']].mean() 
print(multi_group_var)

In [ ]:
print(type(multi_group_var))

### 7. 그룹화한 데이터의 개수 세기

In [ ]:
print(df.groupby('continent')['country'].nunique())

# 직접 해보세요!
## 그래프 그리기(48쪽)

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
global_yearly_life_expectancy = df.groupby('year')['lifeExp'].mean() 
print(global_yearly_life_expectancy)

In [ ]:
global_yearly_life_expectancy.plot()