# 직접 해보세요!
## 시리즈와 데이터프레임 직접 만들기(51쪽)
### 1. 시리즈 만들기

In [1]:
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [2]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'])
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object

In [4]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

NameError: name 'ᄂ' is not defined

In [8]:
s= pd.Series(["kimik","choimin"],index=["jok","bo"])
s

jok      kimik
bo     choimin
dtype: object

### 3. 데이터프레임 만들기

In [9]:
scientists = pd.DataFrame({ 
    'Name': ['Rosaline Franklin', 'William Gosset'], 
    'Occupation': ['Chemist', 'Statistician'], 
    'Born': ['1920-07-25', '1876-06-13'], 
    'Died': ['1958-04-16', '1937-10-16'], 
    'Age': [37, 61]}) 
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [10]:
scientists = pd.DataFrame( 
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Age', 'Died']) 
print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

In [11]:
from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([ 
    ('Name', ['Rosaline Franklin', 'William Gosset']),
    ('Occupation', ['Chemist', 'Statistician']), 
    ('Born', ['1920-07-25', '1876-06-13']), 
    ('Died', ['1958-04-16', '1937-10-16']), 
    ('Age', [37, 61])
])
) 
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# 직접 해보세요!
## 데이터프레임에서 시리즈 선택하기(54쪽)

In [12]:
scientists = pd.DataFrame(
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age'])

In [13]:
first_row = scientists.loc['William Gosset'] 
print(type(first_row))

<class 'pandas.core.series.Series'>

In [ ]:
print(first_row)

# 직접 해보세요!
## index, values 속성과 keys 메서드 사용하기(55쪽)

### 1. index 속성 사용하기

In [14]:
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

### 2. values 속성 사용하기

In [15]:
print(first_row.values)

['Statistician' '1876-06-13' '1937-10-16' 61]

### 3. keys 메서드 사용하기

In [16]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

### 4. index 속성 응용하기

In [17]:
print(first_row.index[0])

Occupation

### 5. keys 메서드와 index 속성 응용하기

In [18]:
print(first_row.keys()[0])

Occupation

# 직접 해보세요!
## 시리즈의 mean, min, max, std 메서드 사용하기(56쪽)

In [19]:
ages = scientists['Age'] 
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [20]:
print(ages.mean())

49.0

In [22]:
print(ages.min())

37

In [23]:
print(ages.max())

61

In [24]:
print(ages.std())

16.97056274847714

# 직접 해보세요!
## 시리즈와 불린 추출 사용하기(59쪽)

In [ ]:
scientists = pd.read_csv('../data/scientists.csv')

In [ ]:
ages = scientists['Age'] 

print(ages.max())

In [ ]:
print(ages.mean())

In [ ]:
print(ages[ages > ages.mean()])

In [ ]:
print(ages > ages.mean())

In [ ]:
print(type(ages > ages.mean()))

In [ ]:
manual_bool_values = [True, True, False, False, True, True, False, True] 
print(ages[manual_bool_values])

# 직접 해보세요!
## 벡터와 스칼라로 브로드캐스팅 수행하기(61쪽)

In [ ]:
print(ages + ages)

In [ ]:
print(ages * ages)

In [ ]:
print(ages + 100)

In [ ]:
print(ages * 2)

In [ ]:
print(pd.Series([1, 100]))

In [ ]:
print(ages + pd.Series([1, 100]))

In [ ]:
rev_ages = ages.sort_index(ascending=False) 
print(rev_ages)

In [ ]:
print(ages * 2)

In [ ]:
print(ages + rev_ages)

# 직접 해보세요!
## 불린 추출과 브로드캐스팅(65쪽)

In [ ]:
print(scientists[scientists['Age'] > scientists['Age'].mean()])

In [1]:
print(scientists.loc[[True, True, False, True]])

NameError: name 'scientists' is not defined

In [ ]:
print(scientists * 2)

# 직접 해보세요!
## 시리즈와 데이터프레임의 데이터 처리하기(67쪽)

In [ ]:
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

In [ ]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d') 
print(born_datetime)

In [ ]:
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

In [ ]:
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head())

In [ ]:
print(scientists.shape)

In [ ]:
scientists['age_days_dt'] = (scientists['died_dt'] - \
                             scientists['born_dt'])
print(scientists)

### 5. 시리즈, 데이터프레임의 데이터 섞기

In [ ]:
print(scientists['Age'])

In [ ]:
import random

random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

### 7. 데이터프레임의 열 삭제하기

In [ ]:
print(scientists.columns)

In [ ]:
scientists_dropped = scientists.drop(['Age'], axis=1)

print(scientists_dropped.columns)

# 직접 해보세요!
## 데이터를 피클, CSV, TSV 파일로 저장하고 불러오기(72쪽)

### 1. 피클로 저장하기

In [ ]:
names = scientists['Name']

In [ ]:
names.to_pickle('../output/scientists_names_series.pickle')

In [ ]:
scientists.to_pickle('../output/scientists_df.pickle')

In [ ]:
scientist_names_from_pickle = pd.read_pickle('../output/scientists_names_series.pickle')
print(scientist_names_from_pickle)

In [ ]:
scientists_from_pickle = pd.read_pickle('../output/scientists_df.pickle')
print(scientists_from_pickle)

### 4. CSV 파일과 TSV 파일로 저장하기

In [ ]:
names.to_csv('../output/scientist_names_series.csv')

In [ ]:
scientists.to_csv('../output/scientists_df.tsv', sep='\t')

In [ ]:
scientists.to_csv('../output/scientists_df_no_index.csv', index=False)

In [ ]:
names_df = names.to_frame()

import xlwt 
names_df.to_excel('../output/scientists_names_series_df.xls')

import openpyxl 
names_df.to_excel('../output/scientists_names_series_df.xlsx')